{% block layout_header %}
    <div class="container">
    {% block layout_header_navigation %}
        <div class="primary-nav">
            {% block layout_header_logo %}
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
            {% endblock %}

            {% block layout_header_search %}
                    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            {% endblock %}

            {% block layout_header_actions %}




                        <div class="menu-init" id="navigation">

                            <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="" data-original-title="Account">

                                        <a><i class="far fa-user-circle"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:120px">
                                            <li>

                                                <a href="dashboard.html"><i class="fas fa-user-circle u-s-m-r-6"></i>

                                                    <span>Account</span></a></li>
                                            <li>

                                                <a href="signup.html"><i class="fas fa-user-plus u-s-m-r-6"></i>

                                                    <span>Signup</span></a></li>
                                            <li>

                                                <a href="signin.html"><i class="fas fa-lock u-s-m-r-6"></i>

                                                    <span>Signin</span></a></li>
                                            <li>

                                                <a href="signup.html"><i class="fas fa-lock-open u-s-m-r-6"></i>

                                                    <span>Signout</span></a></li>
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="" data-original-title="Settings">

                                        <a><i class="fas fa-user-cog"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:120px">
                                            <li class="has-dropdown has-dropdown--ul-right-100">

                                                <a>Language<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                                <!--====== Dropdown ======-->

                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:120px">
                                                    <li>

                                                        <a class="u-c-brand">ENGLISH</a></li>
                                                    <li>

                                                        <a>ARABIC</a></li>
                                                    <li>

                                                        <a>FRANCAIS</a></li>
                                                    <li>

                                                        <a>ESPANOL</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                            <li class="has-dropdown has-dropdown--ul-right-100">

                                                <a>Currency<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                                <!--====== Dropdown ======-->

                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:225px">
                                                    <li>

                                                        <a class="u-c-brand">$ - US DOLLAR</a></li>
                                                    <li>

                                                        <a>£ - BRITISH POUND STERLING</a></li>
                                                    <li>

                                                        <a>€ - EURO</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    <li data-tooltip="tooltip" data-placement="left" title="" data-original-title="Contact">

                                        <a href="tel:+0900901904"><i class="fas fa-phone-volume"></i></a></li>
                                    <li data-tooltip="tooltip" data-placement="left" title="" data-original-title="Mail">

                                        <a href="mailto:contact@domain.com"><i class="far fa-envelope"></i></a></li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>












            {#

            
                <div class="col-12 order-1 col-sm-auto order-sm-2 header-actions-col">
                    <div class="row no-gutters">
                        {% block layout_header_navigation_toggle %}
                            <div class="col d-sm-none">
                                <div class="menu-button">
                                    {% block layout_header_navigation_toggle_button %}
                                        <button class="btn nav-main-toggle-btn header-actions-btn"
                                                type="button"
                                                data-offcanvas-menu="true"
                                                aria-label="{{ "general.menuLink"|trans|striptags }}">
                                            {% block layout_header_navigation_toggle_button_icon %}
                                                {% sw_icon 'stack' %}
                                            {% endblock %}
                                        </button>
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}

                        {% block layout_header_search_toggle %}
                            <div class="col-auto d-sm-none">
                                <div class="search-toggle">
                                    <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#main-search"
                                            aria-expanded="false"
                                            aria-controls="main-search"
                                            aria-label="{{ "header.searchButton"|trans|striptags }}">
                                        {% sw_icon 'search' %}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}

                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist %}
                                <div class="col-auto">
                                    <div class="header-wishlist">
                                        <a class="btn header-wishlist-btn header-actions-btn"
                                           href="{{ path('frontend.wishlist.page') }}"
                                           title="{{ 'header.wishlist'|trans|striptags }}"
                                           aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                        </a>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}

                        {% block layout_header_actions_account %}
                            <div class="col-auto">
                                <div class="account-menu">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                </div>
                            </div>
                        {% endblock %}

                        {% block layout_header_actions_cart %}
                            <div class="col-auto">
                                <div class="header-cart"
                                     data-offcanvas-cart="true">
                                    <a class="btn header-cart-btn header-actions-btn"
                                       href="{{ path('frontend.checkout.cart.page') }}"
                                       data-cart-widget="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
                
                #}
            {% endblock %}
        </div>
    {% endblock %}
    </div>
{% endblock %}
